button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color:yellow;
    color: black;
    cursor: pointer;
    outline: none;
}
span {
    color: red;
}

.app{
    background-color: #bfedfd;
}

button{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
#start{
    color:yellow;
    background-color: red;
}


